.navbar__main{
    margin-bottom: 20px;
}
.navbar__brand{
    margin-right: 10%;
    margin-left: 1%;
}
.navbar__home-button,
.navbar__model-button,
.navbar__about-button,
.navbar__insights-button {
    margin-right: 12%;
    white-space: nowrap;
    color: aliceblue;
}

.form-control[type="search"] {
    border-color:aliceblue;
}
.form-control[type="search"]:hover {
    border-color:rgb(208, 208, 208);
    background-color:#040C18;
}

.form-control[type="search"]:focus {
    border-color:rgb(208, 208, 208);
}

.d-flex{
    width: 50%;

}
.navbar__search__button{
    margin-right: 2%;
}
.navbar__search__button:hover{
    background-color: #040C18;
    color: #fff;
}